
fastapi==0.110.2
uvicorn[standard]==0.30.0
torch==2.1.0+cu118      
onnxruntime-gpu      
opencv-python
numpy
pillow
python-multipart
pandas
matplotlib
pyyaml
rich
fast-plate-ocr[onnx-gpu]
fast-plate-ocr[train,onnx]
tensorflow[and-cuda]
